body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
	justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header **/
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* home */
#about {
  background: url('../img/home.jpg') no-repeat 0 -400px;
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 400px;
  text-align: center;
  color: #ffffff;
}

#home h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#home p {
  font-size: 20px;
}

.social {
  width: 32px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  min-width: 90px;
  height: 90px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* HOVER CARDS */


.container .cards {
	position: relative;
	width: 300px;
	height: 400px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .cards:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,256,.1);
	z-index: 20;
	pointer-events: none;	
}

.container .cards,
.container .cards:nth-child(n) .overlay {
	background: linear-gradient(45deg,#d53369,#cbad6d);
}

.container .cards .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container .cards .imgBx h2 {
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	font-weight:700;
	letter-spacing: 2px;
	text-transform: uppercase;	
}


button {
  margin-top: 90%;
}


.container .cards .content {
	padding: 20px;
	box-sizing: border-box;
	z-index: 1;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: 0s;
	color: #fff;
}

.container .cards .content h2{
	margin: 0;
	padding: 0;
}

/* Services */
ul#projects li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px) {

  header #branding,
  header nav,
  header nav li,
  #boxes .box,
  .container .cards,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  body {
    display: block;
  }

  header {
    padding-bottom: 20px;
  }

  #home {
    display: block;
    height: 100%;
  }

  #home #about {
    display: block;
    height: calc(100vh - 100px);
  }

  #home #boxes,.container  {
    display: block;
  }

  #home h1 {
    margin-top: 40px;
  }

}